[access]
	inheritFrom = All-Projects
[project]
	description = A sample scenario for library upgrade with Maven
[access "refs/*"]
	owner = group user/Bruno Bossola (bbossola)
[access "refs/for/refs/*"]
	read = group user/Bruno Bossola (bbossola)
	push = group user/Bruno Bossola (bbossola)
	label-Code-Review = -2..+2 group user/Bruno Bossola (bbossola)
	label-Verified = -1..+1 group user/Bruno Bossola (bbossola)
	rebase = group user/Bruno Bossola (bbossola)
	removeReviewer = group user/Bruno Bossola (bbossola)
	submit = group user/Bruno Bossola (bbossola)
[access "refs/heads/*"]
	read = group user/Bruno Bossola (bbossola)
	create = group user/Bruno Bossola (bbossola)
	push = +force group user/Bruno Bossola (bbossola)
	pushMerge = group user/Bruno Bossola (bbossola)
[access "refs/tags/*"]
	push = group user/Bruno Bossola (bbossola)
	push = +force group user/Bruno Bossola (bbossola)
